
*{
	margin: 0px;
}
h2{
	padding-left: 20px;
	margin-bottom: 50px;
}
.sub_content{
	padding-bottom: 200px;
}
.padding{
	padding: 0px;
}
.padding.on input{
	border: 1px solid #ff0000;
}
.padding .warning_text p{
	text-indent: -9999em;
	opacity:0;
}
.padding.on .warning_text p{
	text-indent: 0;
	opacity:1;
}
.padding .text_area{
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	letter-spacing: -1px;
	padding: 0px;
}
.btn_box{
	margin-top: 50px;
}

.warning_text p{
	font-size: 10px;
	height: 8px;
	color: red;
	text-align: right;
	line-height: 16px;
}
input#pwd,
input#pwd_check { 
	-webkit-ime-mode: disabled; 		
	-moz-ime-mode: disabled; 
	-ms-ime-mode: disabled;
	-o-ime-mode: disabled;   
	ime-mode:disabled;
} 
input, textarea, select{
	font-size: 13px !important;
}
#zip{
	width: 10%;
}
#addr1,#addr2{
	width: 30%;
}

.uploadResult{
	width: 150px;
	height: 180px;
	background-color: #eee;
	margin: 0px auto;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}
.uploadResult ul{
	width: 100%;
	height: 100%;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.uploadResult li{
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}
.uploadResult li .imgDeleteBtn{
	width: 30px;
	height: 30px;
	background-color: #f3f3f3;
	color: #999;
	border: 1px solid #ddd;
	position: absolute;
	padding: 0px;
	margin: 0px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	z-index: 10;
}
.uploadResult li span{
	width: 120px;
	height: 30px;
	background-color: #fff;
	font-size: 12px;
	color: #999;
	line-height: 30px;
	position: absolute;
	border: 1px solid #ddd;
	padding: 0px;
	margin: 0px;
	text-align: center;
	bottom: 0px;
	left: 0px;
	z-index: 10;
	display: none; /*이름 감추기 */
}
.uploadResult li img{
	width: auto;
	height: 100%;
	position: relative;
	top: 0px;
	left: 50%;
	margin-left: -100%;
}
.profile_box{
	text-align: center;
}
.profile_box input[type="file"]{
	display: none;
}

#idCheckBtn{
	position: absolute;
	right: 15px;
	top: 0px;
	z-index: 10;
	
	display: block;
    height: 34px;
    padding: 6px 5px;
    font-size: 11px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.carrier_ul, 
.cmp_reg_image_ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.carrier_ul li, 
.cmp_reg_image_ul li{
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.carrier_ul li span, 
.cmp_reg_image_ul li span{
	display:none;
}
.carrier_ul li button, 
.cmp_reg_image_ul li button{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 10;
}
.carrier_ul li img, 
.cmp_reg_image_ul li img{
	width: auto;
	max-width: 100%;
	height: auto;
}

.hidden_li_box{
	display: none;
	opacity: 0;
}





























