h2{
	padding-left: 20px;
	margin-bottom: 50px;
}
.sub_content{
	padding-bottom: 200px;
}
.padding{
	padding: 3px 0px;
}
.padding .text_area{
	line-height: 40px;
	text-align: center;
}
.result_box{
	width: 100%;
	border-top: 1px solid #ddd;
	padding-top: 50px;
	margin-top: 50px;
}

.result_box table{
	width: 100%;
}
.result_box table tr{
	text-align: center;
	line-height: 38px;
}
.result_box table th{
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
}
.result_box table td{
	border: 1px solid #ddd;
	text-align: center;
}
.result_box table tr:hover td{
	background-color: #f6f6f6;
}

.pagging_nav{
	text-align: center;
	margin-top: 50px;
	overflow: hidden;
}
.pagging_nav ul{
	overflow: hidden;
	list-style: none;
	float: right;
}
.pagging_nav li{
	float: left;
	width: 35px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	box-sizing: border-box;
}
.pagging_nav li.prev{
	width: 45px;
	border-radius: 4px 0px 0px 4px;
}
.pagging_nav li.next{
	width: 45px;
	border-radius: 0px 4px 4px 0px;
}
.pagging_nav li a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 13px;
	text-decoration: none;
	font-weight: 700;
	border: 1px solid #bbb;
	border-right: none;
}
.pagging_nav li:last-child a{
	border-right: 1px solid #bbb;
}
.pagging_nav li a:hover{
	background-color: #ddd;
}
.pagging_nav li a.on{
	background-color: #337ab7;
	color: #fff;
	border: 1px solid #337ab7;
}
.ui-jqgrid tr.ui-row-ltr td{
	text-align: center;
}
.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
    height: 35px;
    margin-top: 0px;
}
.ui-widget.ui-widget-content {
    margin: 0px auto;
    margin-bottom: 50px;
}
.ui-jqgrid .ui-jqgrid-btable { cursor : pointer; }

#ui-datepicker-div{
	z-index: 9999 !important;
}